:root {
    --dark-grey: #212121;
    --purdue-old-gold: #CFB991;
    --old-gold-solid-gradient: linear-gradient(white -30%, var(--purdue-old-gold) 10%, var(--purdue-old-gold) 90%, black 140%);
}

/* start reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

img,
picture,
video,
svg {
    display: block;
    max-inline-size: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

/* end reset */

body {
    height: 100vh;
    background-position: 50%;
    background-image: url(./image/BoilermakerOS_Wallpaper_Old_Gold.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: var(--dark-grey);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;
}

.window {
    /* background-color: var(--purdue-old-gold); */
    background: var(--old-gold-solid-gradient);
    border-style: solid;
    border-width: 0.1em;
    border-radius: 0.5em;
    width: fit-content;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#bottom-bar {
    display: flex;
    justify-content: space-between;
    /* background-color: var(--purdue-old-gold); */
    background: var(--old-gold-solid-gradient);
    padding: 0.5rem;
    user-select: none;
}